@layout('layouts.app')

@section('title')
Home &mdash; Welcome to Jobpostr
@endsection


@section('content')
  <div class="container">
    <h1 class="text-center mt-3">All Jobs</h1>
    <hr class="hr">
  </div>
@endsection
